{{"<!-- end Contact Area -->" | safeHTML}}
<footer id="footer" class="bg-one">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-12 col-12 text-center">
        <div class="footer-attribution">
          <img src="{{ `images/ist-logo.png` | relURL }}" alt="Instituto Superior Técnico" class="footer-ist-logo">
          <p class="footer-meta">
            ElectroCap (PIC1) • A student-led project at Instituto Superior Técnico • Last updated {{ now.Format "January 2, 2006" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
{{"<!-- /footer -->" | safeHTML}}

{{ "<!-- Google Map API -->" | safeHTML }}
{{ if site.Params.map.enable }}
<script src="{{ site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
{{ if findRE `^https?://` .link }}
<script src="{{ .link }}"></script>
{{ else }}
<script src="{{ .link | relURL }}"></script>
{{ end }}
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify | fingerprint "sha384"}}
<script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>

<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-transparent">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>
{{ end }}
